<suite name="My suite">
	<test name="my test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>

			<class name="testscripts.ManageCategoryTest">
				<methods>
					<include name="verifyDeleteForExistingCategory"></include>
				</methods>
			</class>

		</classes>
	</test>

</suite>